In [5]:
# Import the Pandas library
import pandas as pd

# Specify the file path of your CSV file
csv_file_path = '../DATASETS/FACTORS/INFLATION_DATA_SRI_LANKA/inflation_data.csv'  # Replace with the actual file path

# Read the CSV file and load its data into a DataFrame
df = pd.read_csv(csv_file_path)

# Display the DataFrame to view the data
df.head()  # Use df.head() to display the first few rows of the DataFrame

   Year     Month Inflation
0  1954   January     1.30%
1  1954  February     1.20%
2  1954     March     1.20%
3  1954     April     0.40%
4  1954       May     1.00%

In [6]:
# Assuming the column is named 'inflation'
df['Inflation'] = df['Inflation'].str.replace('%', '')

# Convert the column to a numeric data type
df['Inflation'] = pd.to_numeric(df['Inflation'])

# Display the DataFrame to check the changes
df.head()

   Year     Month  Inflation
0  1954   January        1.3
1  1954  February        1.2
2  1954     March        1.2
3  1954     April        0.4
4  1954       May        1.0

In [7]:
# Save the DataFrame as a new CSV file
df.to_csv('formatted_inflation_data.csv', index=False)

# Check if the file has been saved
import os
if os.path.exists('formatted_inflation_data.csv'):
    print("File 'formatted_inflation_data.csv' has been saved.")
else:
    print("File 'formatted_inflation_data.csv' was not saved.")

File 'formatted_inflation_data.csv' has been saved.